# by default exclude everything
/*
!.gitignore

# make sure we don't include ourself...
._dotfiles

# include X11 config
!.Xresources

# don't exclude config, default exclude everything inside
!.config
.config/*

# include i3 files
!.config/i3/
!.config/i3status/

# include alacritty files
!.config/alacritty/

# include picom files
!.config/picom/

# include rofi files
!.config/rofi/

#include htop files
!.config/htop/

# inlcude powershell submodule
!.config/powershell/

# include oh-my-posh submodule
!.config/oh-my-posh/
