[submodule ".config/powershell"]
	path = .config/powershell
	url = git@gist.github.com:baf20fde274ab55dd595f63b6b1d6954.git
[submodule ".config/oh-my-posh"]
	path = .config/oh-my-posh
	url = git@gist.github.com:c87c08ac35f7c0a4c6b5c0abee03b7be.git
