# by default exclude everything
/*
!.gitignore

# include i3 files
!i3/
!i3status/

# include alacritty files
!alacritty/

# include picom files
!picom/

# include rofi files
!rofi/

#include htop files
!htop/

# inlcude powershell submodule
!powershell/

# include oh-my-posh submodule
!oh-my-posh/
